{
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "gtag": "readonly"
    },
    "ignorePatterns": [
        "webpack.config.js",
        "build/**",
        "**/primary_entry/script/lib/**"
    ],
    "rules": {
        "comma-dangle": "error",
        "prefer-const": "error",
        "semi": "error",
        "semi-style": "error",
        "no-unused-vars": ["error", { "args": "none" }]
    }
}