#------------
# Intellij
#------------
*.iml
/.idea/

#------------
# build
#------------
/webcontent-built/

#------------
# nodejs
#------------
node_modules/
npm-debug.log

#------------
# MacOS
#------------
.DS_Store
