
#
# This is here so that when we use the 'npm version' command to increment the
# version and create a git that the create tag does NOT get prefixed with "v"
# which is the default prefix.
#
tag-version-prefix=""
package-lock=false