#page-charts > * {
    /* Fix for some line charts growing past 100% of page width */
    padding-right: 17px;
}

#charts-filter-div {
    text-align: center;
    margin: 1em 0 1em 0;
}

#charts-filter-div select {
    max-width: 300px;
    margin: auto;
    min-width: 150px;
}

.highcharts-container {
    margin-bottom: 48px;
}

@media (min-width: 768px) {
    #location-pie-charts {
        display: flex;
        flex-direction: row;
    }

    #location-pie-charts > * {
        width: 33.3%;
    }
}
