#changes-table_length {
    text-align: right;
    padding-right: 12px !important;
}
#changes-title {
    text-align: center;
    font-size: 144%;
}

#changes-filter {
    text-align: left;
    margin: 2px 0 0 0.5em;
    padding-left: 2px;
}

#changes-table_wrapper table.dataTable {
    margin-top: -4px !important;
}

#changes-table_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
#changes-table_wrapper .row div {
    padding: 0;
}

#changes-table {
    margin: 0 auto;
    cursor: pointer;
}

#changes-table th, #changes-table td {
    padding-top: 4px;
    padding-bottom: 3px;
}
#changes-table .status {
    text-align: right;
    padding-right: 8px;
}

#changes-table td .VOTING {
    color: #8800aa;
}
#changes-table td .PLAN {
    color: #8800aa; /* TODO: distinguish? */
}
#changes-table td .PERMIT {
    color: #0000ff;
}
#changes-table td .CONSTRUCTION {
    color: orange;
}
#changes-table td .EXPANDING {
    color: red; /* TODO: distinguish? */
}
#changes-table td .CLOSED_TEMP {
    color: gray;
}
#changes-table td .CLOSED_PERM {
    color: black;
}
#changes-table td .OPEN {
    color: red;
}

#changes-table .dropdown {
    margin-top: -1px;
}

#changes-table .dropdown a, #changes-table .dropdown b {
    text-decoration: none;
}

#changes-table .child {
    width: 99%;
    cursor: auto;
    background-color: #ffd;
    margin-left: 4px;
    border-left: 4px dotted #999;
}
#changes-table .child tr, #changes-table .child td {
    padding: 1px 8px;
    vertical-align: top;
}
#changes-table li {
    white-space: pre;
}

#changes-table .text-muted img {
    width: 12px !important;
    height: 12px !important;
}

#changes-table .narrow {
    display: none;
}
#changes-table .wide {
    display: inline;
}
@media (max-width: 1050px) {
    #changes-table .narrow {
        display: inline !important;
    }
    #changes-table .wide {
        display: none !important;
    }
}
