#changes-filter {
    text-align: left;
    margin: 2px 0 0.3em 0.5em;
    padding-left: 2px;
}

#changes-table_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
#changes-table_wrapper .row div {
    padding: 0;
}

#changes-table {
    margin: 0 auto;
    cursor: pointer;
}

#changes-table .status {
    text-align: right;
    padding-right: 8px;
    /*width: 72px;*/
}

#changes-table td .PERMIT {
    color: #0000ff;
}
#changes-table td .CONSTRUCTION {
    color: orange;
}
#changes-table td .CLOSED_TEMP {
    color: gray;
}
#changes-table td .CLOSED_PERM {
    color: black;
}
#changes-table .dropdown .OPEN {
    color: red;
}

#changes-table .dropdown a, #changes-table .dropdown b {
    text-decoration: none;
}

#changes-table .dropdown-menu {
    min-width: 50%;
    max-width: 150%;
    padding: 3px;
    margin: 0 auto;
    background-color: #ffe;
}
#changes-table li {
    white-space: nowrap;
}
#changes-table li.connectors {
    padding-left: 20px;
    border-bottom: 1px dotted #ccc;
}
#changes-table li.connectors:last-child {
    border-bottom: 0px;
}

#changes-table .text-muted img {
    width: 12px !important;
    height: 12px !important;
}

#changes-table .narrow {
    display: none;
}
#changes-table .wide {
    display: inline;
}
@media (max-width: 928px) {
    #changes-table .narrow {
        display: inline !important;
    }
    #changes-table .wide {
        display: none !important;
    }
}
