
.about-page-list {
    list-style: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.about-page-list li {
    display: list-item;
    margin-left: 10px;
    list-style-type: disc;
}

.about-page-list li img {
    width: 20px;
    height: 20px;
}