#data-filter {
    text-align: left;
    margin: 2px 0 2px 0.5em;
    padding-left: 2px;
}

#supercharger-data-table_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
#supercharger-data-table_wrapper .row div {
    padding: 0;
}

#supercharger-data-table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

#supercharger-data-table th.sorting::before, #supercharger-data-table th.sorting::after {
    right: 2px;
}

#supercharger-data-table span.VOTING, #supercharger-data-table span.PLAN {
    color: #8800aa;
}

#supercharger-data-table span.PERMIT {
    color: #0000ff;
}

#supercharger-data-table span.CONSTRUCTION {
    color: orange;
}

#supercharger-data-table th, #supercharger-data-table td {
    text-align: left;
    padding: 4px 4px 3px 4px;
}
#supercharger-data-table th {
    padding-right: 16px;
}

#supercharger-data-table td.gps {
    font-family: monospace;
    font-size: .75em;
}

#supercharger-data-table .dropdown {
    margin-top: -1px;
}

#supercharger-data-table .dropdown a, #supercharger-data-table .dropdown b {
    text-decoration: none;
    white-space: nowrap;
    padding: 1px 0px 0px 0px;
}

#supercharger-data-table .dropdown-menu {
    width: max-content;
    min-width: 100%;
    max-width: 500%;
    padding: 8px;
    margin-right: 5px;
    background-color: #ffd;
}

#supercharger-data-table li {
    white-space: pre;
}
#supercharger-data-table .links {
    padding-top: 2px;
    line-height: 24px;
}
