#page-map {
    padding: 0 !important;
}

#create-link-input {
    width: 100%;
}

#navbar {
    flex: 1;
    margin-bottom: 0;
}

#navbar-menu-item-list li:hover {
    background-color: #ddd;
}

.nav > li > a {
    padding: 15px 12px;
}

.logo {
    padding: 5px 10px 5px 0;
    font-size: 28px;
    float: left;
    margin-left: -5px;
}
.logo img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Collapse navbar earlier than bootstrap's default 768px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 1200px) {
    .logo span {
        display: none;
    }
    .nav > li > a {
        padding: 15px 8px;
    }
    .container-fluid {
        padding-right: 5px;
    }
    button.form-control {
        margin: 0px !important;
    }
}
@media (max-width: 928px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        float: right;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-right: 10px;
        padding-left: 10px;
    }
    .navbar-collapse {
        overflow-x: visible;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
    .navbar-nav, .navbar-nav > li {
        float: none;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

#new-feature-notify {
    text-align: center;
    margin:0;
    padding: .5em;
}

#new-feature-notify a {
    color: blue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
