.form-control select, .form-control button {
    max-width: 300px;
    margin: auto;
    min-width: 100px;
    padding: 3px 6px;
}

.bootstrap-select .dropdown-toggle .caret {
    position: inherit;
}

.status-select .filter-option-inner-inner span {
    font-size: 0px;
}

.status-select img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.text-muted {
    font-size: 80%;
    color: lightsteelblue;
}

button.reset {
    padding: 0px 12px;
    height: 28px;
}

button.reset:hover {
    background-color: lightgray;
}

/* work around some bootstrap weirdness where an original select box was invisibly covering the reset button */
.bootstrap-select select {
    left: 0px;
}