#filter-dialog .modal-dialog, #filter-dialog .modal-content {
    width: 480px;
    max-height: 98%;
}
#filter-dialog .modal-body {
    max-height: calc(100vh - 125px);
}

#filter-dialog td {
    padding: 8px;
    white-space: nowrap;
}
#filter-dialog select, #filter-dialog button, #filter-dialog td {
    max-width: 250px;
    min-width: 80px;
}
#filter-dialog th {
    width: 12%;
    min-width: 80px;
}
#filter-dialog td.btn-xs {
    width: 12%;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    line-height: 1.1;
}
#filter-dialog button.reset {
    float: right;
}

.show-always input {
    width: 18px;
    height: 18px;
}

.form-control select, .form-control button {
    max-width: 250px;
    min-width: 50px;
    width: auto;
    margin: auto;
    padding: 3px 6px;
    white-space: nowrap;
}

/* filter glyphicons' size and positioning vary by where they appear */
#filter-dialog-title span.glyphicon-filter {
    font-size: 24px;
    top: 6px;
}
button.reset span.glyphicon-filter {
    font-size: 18px;
    margin: -4px 0;
    top: 4px;
}
.form-inline span.glyphicon-filter {
    font-size: 18px;
    padding: 2px;
}

.bootstrap-select .dropdown-toggle .caret {
    position: inherit;
}
.bootstrap-select button.dropdown-toggle {
    background-color: #def;
}
.bootstrap-select button.dropdown-toggle.bs-placeholder {
    color: #bbb;
    border-color: #ddd;
    background-color: #fff;
}
.bootstrap-select button.dropdown-toggle.bs-placeholder:hover, .form-inline button.btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
.bs-actionsbox {
    min-width: 180px;
}

.status-select .filter-option-inner-inner span {
    font-size: 0px;
}

.status-select img, button.form-control.filter img {
    width: 18px;
    height: 18px;
    margin: -3px 2px 0 2px;
}
.form-inline button.form-control.filter {
    padding: 0 2px;
}

.text-muted {
    font-size: 80%;
    color: lightsteelblue;
}

.form-inline button.form-control {
    display: inline-block;
    padding: 0 12px;
    height: 28px;
    width: auto;
    vertical-align: middle;
}

button.clear {
    color: darkred;
    font-weight: bold;
    border: none;
    background: inherit;
    margin: 0 2px 0 -2px;
}

/* work around some bootstrap weirdness where an original select box was invisibly covering the reset button */
.bootstrap-select select {
    left: 0px;
}

.site-results, .zero-sites {
    margin: auto;
    padding: 3px 6px;
    border-radius: 12px;
    font-size: 12px;
    white-space: nowrap;
}
.site-results {
    background-color: #def;
    border: 1px solid #69f;
}
.zero-sites {
    background-color: #fcc;
    border: 1px solid #f66;
    animation: glow 1s 4 alternate;
}
@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 12px 2px #fcc;
    }
}

br.narrow {
    display: none;
}

@media (max-width: 768px) {
    #filter-dialog .modal-dialog, #filter-dialog .modal-content {
        width: 380px !important;
    }
    br.narrow {
        display: inline;
    }
}

@media (max-width: 928px) {
    #filter-dialog .modal-dialog, #filter-dialog .modal-content {
        width: 460px;
    }
    #filter-dialog select, #filter-dialog button, #filter-dialog td {
        min-width: 50px;
    }
    #filter-dialog td {
        padding: 4px 6px;
    }
}
