#total-count-table {
    display: inline-block;
    border-collapse: collapse;

    margin: 0;
    padding: 1px 0 0 0;

    font-size: 16px;
    font-weight: bold;
    line-height: 16px;

    border-spacing: 0;
}

#total-count-table tr {
    padding: 0;
    margin: 0 0 -2px 0;
}

#total-count-table td {
    padding: 0 6px 0 6px;
    text-align: right;
    vertical-align: bottom;
}

#total-count-table td.open {
    color: red;
}

#total-count-table td.construction {
    color: darkorange;
}

#total-count-table td.permit {
    color: #0000ff;
}

#total-count-table td.lab {
    text-align: left;
}

#total-count-table tr.lab td {
    font-size: 9px;
    font-weight: normal;
    line-height: 15px;
    position: relative;
}
