li.control-view-buttons {
    padding: 8px;
    display: flex;
}
li.control-view-buttons button {
    padding: 6px;
    margin: 0 2px;
}
.control-view-buttons button:hover {
    background-color: #ccc;
}
.control-view-buttons .checked {
    background-color: #ddd;
}
.control-view-buttons img {
    width: 20px;
    height: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    display: inline-block;
    text-align: center;
    font-size: larger;
    width: 45px;
    color: dimgray;
    margin-bottom: 2px;
    border:transparent;
}

#marker-selector label {
    margin-bottom: 4px;
    min-height: 24px;
}

#marker-selector .marker-icon {
    margin-bottom: 0px;
    vertical-align: middle;
    padding: 0px;
    margin-top: 0px;
}

#marker-selector .cluster-marker {
    margin-top: 2px;
    margin-bottom: 1px;
}

#marker-selector span {
    vertical-align: middle;
    display: inline-flex;
    line-height: 20px;
}

.marker-slider {
    display: none;
}

.marker-slider.active {
    display: inline-block !important;
}

.small-slider-control {
    display: inline-block !important;
    width: 80px !important;
    vertical-align: middle;
    margin-bottom: 1px;
}

.slider-control {
    display: inline-block !important;
    width: 180px !important;
    vertical-align: middle;
    margin-bottom: 1px;
}

/* Overwrite the Bootstrap z-index so that these buttons don't get on top of the Feedback form */
#range-unit-mi-label, #range-unit-km-label {
    z-index: auto;
}

label.control {
    font-size: larger;
    margin: 0 .5em .2em 1em;
    vertical-align: middle;
}

/* Show Leaflet disabled checkboxes' labels grayed out */
.leaflet-control-layers input[type="checkbox"][disabled] + span,
.leaflet-control-layers input[type="radio"][disabled] + span {
    color: gray;
}

.control-row {
    flex: 0 30px;
    padding: 0 2px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2px 0;
    text-align: left;
}
.control-row .collapse { 
    display: revert;
}
img.control-row-icon {
    width: 20px;
    height: 20px;
    margin: 2px;
}

#control-row-filter .form-inline {
    margin-left: 18px;
}

#control-row-rendering div {
    margin-top: 1px;
    margin-bottom: -1px;
}

@media (max-width: 968px) {
    .control-row {
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .control-row .collapse, #marker-selector .collapse, #marker-selector .cluster-marker {
        display: none;
        width: 0px;
    }
    .slider-control {
        width: 120px !important;
    }
    .small-slider-control {
        width: 50px !important;
    }
}
