/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Slider styling
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slider-value-label {
    display: inline-block;
    text-align: center;
    font-size: larger;
    width: 45px;
    color: dimgray;
    margin-bottom: 2px;
    border:transparent;
}

#marker-selector img {
    margin-bottom: 1px;
    vertical-align: middle;
}

#marker-selector .cluster-marker {
    display: inline-block;
    margin-top: -1px;
    margin-bottom: 1px;
}

.marker-slider {
    display: none;
}

.marker-slider.active {
    display: inline-block !important;
}

.small-slider-control {
    display: inline-block !important;
    width: 135px !important;
    vertical-align: middle;
    margin-bottom: 1px;
}

.slider-control {
    display: inline-block !important;
    width: 210px !important;
    vertical-align: middle;
    margin-bottom: 1px;
}

/* Overwrite the Bootstrap z-index so that these buttons don't get on top of the Feedback form */
#range-unit-mi-label, #range-unit-km-label {
    z-index: auto;
}

label.control {
    font-size: larger;
    margin: 0 .5em .2em 1em;
    vertical-align: middle;
}

/* Show Leaflet disabled checkboxes' labels grayed out */
.leaflet-control-layers input[type="checkbox"][disabled] + span,
.leaflet-control-layers input[type="radio"][disabled] + span {
    color: gray;
}

.control-row {
    margin-left: 130px;
    margin-top: 5px;
    text-align: left;
}

@media (max-width: 928px) {
    .control-row {
        margin: 0px;
    }
    .control-row .collapse {
        display: none;
    }
    .slider-control {
        width: 120px !important;
    }
    .small-slider-control {
        width: 80px !important;
    }
}
