#map-main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#routing-panel {
    flex: 0 0 0;
    order: 0;
    overflow: auto;
    margin-bottom: 0;
    border-radius: 0;
    transition: 0.5s;
    flex-basis: 0; /* for IE11 */
    z-index: 3;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Canvas
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-canvas {
    margin-left: -21px;
    flex: 1;
    order: 2;
    min-height: 450px; /* for IE10, otherwise has zero height */
    font-size: 1.15rem; /* for consistency with leaflet prior to 1.8 */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Markers
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.marker-icon {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.sample-markers {
    width: 45px;
    display: inline-block;
}
.sample-markers .marker-icon {
    margin: auto;
}

.cluster-marker {
    display: inline-block;
    color: white;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    min-height: 15px;
    min-width: 22px;
}
.cluster-marker.open { background-color: rgba(240, 0, 0, 0.7); }
.cluster-marker.construction { background-color: rgba(240, 144, 0, 0.7); }
.cluster-marker.permit { background-color: rgba(0, 64, 255, 0.7); }
.cluster-marker.closed-temp { background-color: rgba(160, 160, 160, 0.7); }
.cluster-marker.closed-perm { background-color: rgba(0, 0, 0, 0.7); }
.cluster-marker.user { background-color: rgba(0, 192, 0, 0.7); }

.tooltip {
    color: white;
    font-weight: bold;
}
.tooltip .limited {
    background-color: rgba(128, 0, 0, 0.9);
    color: yellow; 
    padding: 1px 5px;
    margin: 0 -5px;
}
.tooltip.open { background-color: rgba(240, 0, 0, 0.95); }
.tooltip.construction { background-color: rgba(240, 144, 0, 0.95); }
.tooltip.permit { background-color: rgba(0, 64, 255, 0.95); }
.tooltip.closed-temp { background-color: rgba(160, 160, 160, 0.95); }
.tooltip.closed-perm { background-color: rgba(0, 0, 0, 0.8); }
.tooltip.user { background-color: rgba(0, 192, 0, 0.95); }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Info Window
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.info-window-content {
    width: 100%;
    height: 100%;
    min-width: 210px;
    min-height: 80px;
    padding: 0;
    margin: 0;
}

.info-window-content .title {
    font-weight: bold !important;
    font-size: 1.5em !important;
}

.info-window-content .statusLine {
    margin: 5px 0;
}

.statusLine > * {
    vertical-align: text-top;
}

.info-window-content .open {
    color: red;
    font-size: smaller;
    font-weight: bold
}

.info-window-content .construction {
    color: orange;
    font-size: smaller;
    font-weight: bold
}

.info-window-content .permit {
    color: #0000ff;
    font-size: smaller;
    font-weight: bold
}

.info-window-content .closed-temp {
    color: gray;
    font-size: smaller;
    font-weight: bold
}

.info-window-content .closed-perm {
    color: black;
    font-size: smaller;
    font-weight: bold
}

.info-window-content img {
    width: 10px;
}

.info-window-content .links-container {
    border: 0 solid black;
}

.info-window-content .links-container a {
    line-height: 2em;
    margin: 0 1em 0 0;
}

.info-window-content th {
    padding-right: 5px;
    text-align: right;
}

.info-window-content hr {
    margin: 5px 0;
    border-color: #e0e0e0;
}

a.pin {
    font-size: medium;
    text-decoration: none !important;
}

a.unpin {
    color: #e34646 !important;
    font-size: medium;
    text-decoration: none !important;
}

#routing-panel-toggle-button {
    width: 21px;
    height: 45px;
    cursor: pointer;
    background: rgba(255,255,255,0.9);
    border-left: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    z-index: 2;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#route-panel-close-trigger {
    display: none; /* this close button is only used on small screens */
}

.leaflet-left .leaflet-control {
    margin-left: 5px;
    opacity: 0.8;
}
.leaflet-right .leaflet-control {
    margin-right: 5px;
    opacity: 0.8;
}
.leaflet-top .leaflet-control {
    margin-top: 5px;
    opacity: 0.8;
}
.leaflet-control:hover {
    opacity: 0.9;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
For smaller screens
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 480px) {
    #map-main-content {
        flex-direction: column;
    }

    #map-canvas {
        margin-left: 0;
        order: 0;
        flex: 0 2 100%;
        min-height: 200px;
    }

    #routing-panel-toggle-button {
        width: 0;
        height: 0;
    }

    #routing-panel {
        order: 2;
        flex: 0 1 0;
    }

    #route-panel-close-trigger {
        display: block;
    }
}
