.list-group-item {
    cursor: pointer;
}

#routing-panel .panel-title a {
    text-decoration: none;
    color: dimgray;
    padding: 3px;
}

#clear-route-trigger {
    padding-top: 0;
}

.routing-panel-message {
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
}

.route-panel-leg-summary {
    background: #eeeeee;
    font-size: 1.1em;
    margin-top: 1em;
    padding: 5px;
}

#routing-panel-toggle-button {
    z-index: 1000; /* necessary to put it on top of map */
}