#total-count-table {
    display: inline-block;
    border-collapse: collapse;

    margin: 0;
    padding: 0;

    font-size: 1.1em;
    font-weight: bold;

    border-spacing: 0;
}

#total-count-table tr {
    padding: 0;
    margin: 0;
}

#total-count-table td {
    padding: 0 1em 0 0;
    margin: 0;
    text-align: right;
    vertical-align: bottom;
}

#total-count-table td.construction {
    color: orange;
}

#total-count-table td.permit {
    color: #0000ff;
}

#total-count-table td.lab {
    text-align: left;
}