#way-back-container {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#way-back-button-panel {
    width: auto;
    padding-left: 10px;
    text-align: left;
    margin: auto 2px;
}
#way-back-button-panel * {
    margin: auto 2px;
}

#way-back-date {
    width: auto;
    color: #777777;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
}

#way-back-close-trigger {
    width: auto;
    float: right;
    padding: 5px;
    text-align: right;
}

#way-back-status {
    font-size: .8em;
    color: #777777;
}

.way-back-info .title {
    font-weight: bold;
    font-size: larger;
}

.way-back-info .date {
    font-size: small;
    text-align: right;
}

@media (max-width: 768px) {
    #way-back-close-trigger {
        width: 5%;
    }
}